<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<h1>Admin Dashboard</h1>
<h4><%= "The number of products: #{@number_of_products}"%></h4>
<h4><%= "The number of categories: #{@number_of_categories}"%></h4>
